@font-face {
    font-family: eurofurence;
    src: url("../../fonts/Eurofurence/eurof55.ttf");
}

@font-face {
    font-family: Sedgwick;
    src: url("../../fonts/Sedgwick/SedgwickAveDisplay-Regular.ttf");
}
